<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram02</title>
    <!--    <title th:text="${title}"></title>-->

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/story.css">
    <link rel="stylesheet" href="/css/popular.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/upload.css">
    <link rel="stylesheet" href="/css/update.css">
    <link rel="shortcut icon" href="/images/insta.svg">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <header th:fragment="body_header" class="header">
        <div class="container">
            <!-- 로고 -->
            <a href="/" class="logo">
                <img src="/images/logo.jpg" alt="">
            </a>

            <!-- 세션유저 js 활용-->
            <input type="hidden" id ="sessionId" th:value="${principal.id}">

            <!-- nav -->
            <nav class="navi">
                <ul class="navi-list">
                    <li class="navi-item">
                        <a href="/">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a href="/image/popular">
                            <i class="far fa-compass"></i>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a th:href="|/user/${principal.id}|">
                            <i class="far fa-user"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
